<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PipeComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PipeComponent.Properties.Settings>
      <setting name="RutaLog" serializeAs="String">
        <value>./Log</value>
      </setting>
      <setting name="NombrePipe" serializeAs="String">
        <value>componentPipe</value>
      </setting>
      <setting name="validation" serializeAs="String">
        <value>SHA1</value>
      </setting>
      <setting name="decryption" serializeAs="String">
        <value>AES</value>
      </setting>
      <setting name="validationKey" serializeAs="String">
        <value>C21F090935F6E49C2C797F69DDEED8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281B</value>
      </setting>
      <setting name="decryptionKey" serializeAs="String">
        <value>ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F</value>
      </setting>
      <setting name="Impresora" serializeAs="String">
        <value>NII ExD NP-K205</value>
      </setting>
      <setting name="PuertoComLectorBarra" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NombreLectorHid" serializeAs="String">
        <!-- <value>OMNIKEY CardMan 5x21-CL 0</value> -->
        <value>HID Global OMNIKEY 5022 Smart Card Reader 0</value>
      </setting>
      <setting name="ImpresoraLaser" serializeAs="String">
        <!-- <value>HP LaserJet Professional P 1102w</value> -->
        <value>Wondershare PDFelement</value>
      </setting>
    </PipeComponent.Properties.Settings>
  </userSettings>
  <system.web>
    <machineKey validation="SHA1" decryption="AES"
                validationKey="C21F090935F6E49C2C797F69DDEED8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281B"
                decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" />
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
